<section id="cta" class="cta">
  <div class="container" daos="zoom-in">
    <div class="text-center">
      <h3>In an emergency? Need help now?</h3>
      <p> We offer 24/7 medical emergency services to a radius of upto 5 kilometres, our charges are affordable and we mainly put the patients health and well being as our first priority, so incase of any emergency dont hestitate to reach us.</p>
      <a class="cta-btn scrollto" href="#appointment">Make an Make an Appointment</a></div>
  </div>
</section>
<section id="about" class="about">
  <div class="container" daos="fade-up">
    <div class="section-title">
      <h2>About Us</h2>
      <p>We are health clinic based in Mathare North area, Ruaraka. We consist of Doctors who work in government public hospitals and have formed a team of Doctors having our own private practice when we are not saving lives in the government hospitals.</p>
    </div>
    <div class="row">
      <div class="col-lg-6" daos="fade-right"> <img src="<%= asset_path('about') %>" class="img-fluid" alt=""></div>
      <div class="col-lg-6 pt-4 pt-lg-0 content" daos="fade-left">
        <h3>Time and health are two precious assets that we don't recognize and appreciate until they have been depleted.</h3>
        <p class="fst-italic"> DrugNet was founded in the year 2010 and since then we have made quite a milestone.</p>
        <ul>
          <li><i class="bi bi-check-circle"></i> We have increased from one Doctor to 15 Doctors</li>
          <li><i class="bi bi-check-circle"></i> We have increased the number of nurses to 15</li>
          <li><i class="bi bi-check-circle"></i> We have established our own lab where we are now able to run our own tests as compared to before where we had to take our lab samples to outside labs. Now we are able to serve our patients in a more professional manner.</li>
        </ul>
        <p> With the number of staffs we currently have we have become one of the few clinics in the area that offers 24/7 medical care to our patients. We offer in patient and out patient services, lab testing for general illness and we are adversly connected to a number of great hospitals where we can refer our patients for treatments the clinc might be offering. </p>
      </div>
    </div>
  </div>
</section>
<section id="counts" class="counts">
  <div class="container" daos="fade-up">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box"> <i class="fas fa-user-md"></i> <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong>Doctors</strong> are available in shifts equally divided.</p>
          <a href="#">Find out more &raquo;</a></div>
      </div>
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box"> <i class="far fa-hospital"></i> <span data-purecounter-start="0" data-purecounter-end="26" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong>Departments</strong> contains the areas our doctors are specialized</p>
          <a href="#">Find out more &raquo;</a></div>
      </div>
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box"> <i class="fas fa-flask"></i> <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong>Research Lab</strong> is necessary  for medical innovations and discovery</p>
          <a href="#">Find out more &raquo;</a></div>
      </div>
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box"> <i class="fas fa-award"></i> <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong>Awards</strong> our staff have received either from the private or public practices.</p>
          <a href="#">Find out more &raquo;</a></div>
      </div>
    </div>
  </div>
</section>
