<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Contact</h2>
      <p>You can always reach us at anytime. If you need any further instructions or clarification you can always reach us through the following listed channels. You can also leave us a message and we will reply as fast as possible.</p>
    </div>
  </div>
  
  <div> <iframe style="border:0; width: 100%; height: 350px;" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Huruma%20Road+(DrugNet)&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" allowfullscreen></iframe></div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-12">
            <div class="info-box"> <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>Maathare North, Ruaraka Nairobi - Kenya</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box mt-4"> <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3851565e57785d40595548545d165b5755">[email&#160;protected]</a><br>
                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="afccc0c1dbceccdbefcad7cec2dfc3ca81ccc0c2">[email&#160;protected]</a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box mt-4"> <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+254 708 99 33 44<br>
                +254 112 86 58 57</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col form-group"> <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required></div>
            <div class="col form-group mt-3"> <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required></div>
          </div>
          <div class="form-group mt-3"> <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required></div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>
    </div>
  </div>
</section>
