<section id="features" class="features">
  <div class="container" daos="fade-up">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1" daos="fade-right">
        <div class="icon-box mt-5 mt-lg-0"> <i class="bx bx-receipt"></i>
          <h4>COVID 19</h4>
          <p>This is a blog about the awareness of COVID19 and the best measures to take against contracting it.</p>
        </div>
        <div class="icon-box mt-5"> <i class="bx bx-cube-alt"></i>
          <h4>HIV/AIDS and STI</h4>
          <p>This is a blog about the awareness of COVID19 and the best measures to take against contracting it.</p>
        </div>
        <div class="icon-box mt-5"> <i class="bx bx-images"></i>
          <h4>Cardiovascular diseases</h4>
          <p>This is a blog about the awareness of cardiovascular dieseases and awareness for those who are at high risk of being affected.</p>
        </div>
        <div class="icon-box mt-5"> <i class="bx bx-shield"></i>
          <h4>public Health</h4>
          <p>This is a blog about the awareness on how to maintain personal hygeine and taking care of environment so as to prevent infections caused by dirty environments</p>
        </div>
      </div>
      <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("<%= asset_path('features') %>");' daos="zoom-in"></div>
    </div>
  </div>
</section>
<section id="services" class="services services">
  <div class="container" daos="fade-up">
    <div class="section-title">
      <h2>Services</h2>
      <p>Our staff are very professinal and highly skilled in these areas of treatment. We as a clinic we can only offer treatment to our patients but its only God who heals.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" daos="zoom-in" data-aos-delay="100">
        <div class="icon"><i class="fas fa-heartbeat"></i></div>
        <h4 class="title"><a href="">Out Patients</a></h4>
        <p class="description">24h out patient services are offered at affordable rates, and we have a number of doctors who rotate regularly. </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" daos="zoom-in" data-aos-delay="200">
        <div class="icon"><i class="fas fa-pills"></i></div>
        <h4 class="title"><a href="">Pharmacy</a></h4>
        <p class="description">Our pharmacy works 24/7 and we administer drugs to patients with prescription including those with prescrption from other hospitals.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" daos="zoom-in" data-aos-delay="300">
        <div class="icon"><i class="fas fa-hospital-user"></i></div>
        <h4 class="title"><a href="">In Patients</a></h4>
        <p class="description">We have limited number of in patient due to the few number of rooms we have, and we only admit very serious conditions</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" daos="zoom-in" data-aos-delay="100">
        <div class="icon"><i class="fas fa-dna"></i></div>
        <h4 class="title"><a href="">Laboratories</a></h4>
        <p class="description">We do laboratory tests around the clock for common diseases at affordable rates.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" daos="zoom-in" data-aos-delay="200">
        <div class="icon"><i class="fas fa-wheelchair"></i></div>
        <h4 class="title"><a href="">Emergencies</a></h4>
        <p class="description">We offer emergency services and first aid services to a radius of upto 5km.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" daos="zoom-in" data-aos-delay="300">
        <div class="icon"><i class="fas fa-notes-medical"></i></div>
        <h4 class="title"><a href="">Health Practices</a></h4>
        <p class="description">We give consultation to patients on health practice and dietry to keep check on their feeding habits.</p>
      </div>
    </div>
  </div>
</section>
