<section id="featured-services" class="featured-services">
  <div class="container" daos="fade-up">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" daos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fas fa-heartbeat"></i></div>
          <h4 class="title"><a href="">Out Patients</a></h4>
          <p class="description">24h out patient services are offered including emergencies at any time of the day.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" daos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="fas fa-pills"></i></div>
          <h4 class="title"><a href="">Pharmacy</a></h4>
          <p class="description">Our pharmacy works 24/7 and we administer drugs to patients with prescription including those with prescrption from other hospitals.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" daos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="fas fa-thermometer"></i></div>
          <h4 class="title"><a href="">In Patients</a></h4>
          <p class="description">We have limited number of in patient due to the few number of rooms we have, and we only admit very serious conditions</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" daos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="fas fa-dna"></i></div>
          <h4 class="title"><a href="">Laboratories</a></h4>
          <p class="description">We do laboratory tests around the clock for common diseases at affordable rates.</p>
        </div>
      </div>
    </div>
  </div>
</section>
