<section id="doctors" class="doctors section-bg">
  <div class="container" daos="fade-up">
    <div class="section-title">
      <h2>Doctors</h2>
      <p>These are the doctors who work at DrugNet clinic they are all registred with kenyan board of doctors and have high experience and success rate in the field of medicine.</p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" daos="fade-up" data-aos-delay="100">
          <div class="member-img"> <img src="<%= asset_path('doctor1') %>" class="img-fluid" alt="">
            <div class="social"> <a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
          </div>
          <div class="member-info">
            <h4>John Doe</h4>
            <span>Chief Medical Officer</span></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" daos="fade-up" data-aos-delay="200">
          <div class="member-img"> <img src="<%= asset_path('doctor2') %>" class="img-fluid" alt="">
            <div class="social"> <a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
          </div>
          <div class="member-info">
            <h4>James Doe</h4>
            <span>Orthopedic</span></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" daos="fade-up" data-aos-delay="300">
          <div class="member-img"> <img src="<%= asset_path('doctor3') %>" class="img-fluid" alt="">
            <div class="social"> <a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
          </div>
          <div class="member-info">
            <h4>Jane Does</h4>
            <span>Cardiology</span></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" daos="fade-up" data-aos-delay="400">
          <div class="member-img"> <img src="<%= asset_path('doctor4') %>" class="img-fluid" alt="">
            <div class="social"> <a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
          </div>
          <div class="member-info">
            <h4>Johnson Doe</h4>
            <span>Hepatology</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="gallery" class="gallery">
  <div class="container" daos="fade-up">
    <div class="section-title">
      <h2>Gallery</h2>
      <p>photos that are affilieted with DrugNet clinic including receptionst, nurses, doctors, human resource department, patients. This images have recorded the clinic past events that are of high importance.</p>
    </div>
    <div class="gallery-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-1.jpg"><img src="assets/img/gallery/gallery-1.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-2.jpg"><img src="assets/img/gallery/gallery-2.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-3.jpg"><img src="assets/img/gallery/gallery-3.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-4.jpg"><img src="assets/img/gallery/gallery-4.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-5.jpg"><img src="assets/img/gallery/gallery-5.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-6.jpg"><img src="assets/img/gallery/gallery-6.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-7.jpg"><img src="assets/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-8.jpg"><img src="assets/img/gallery/gallery-8.jpg" class="img-fluid" alt=""></a></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>