/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= stub "active_admin"
 */

@import "bootstrap/scss/bootstrap";
@import "toastr/toastr";

html,
body {
    background-color: #FAFAFA !important;
    margin          : 0px !important;
    padding         : 0px !important;
    font-size       : 13px !important;
}

.tiny-icons {
    font-size: 10px !important;
}

.small-icons {
    font-size: 16px !important;
}

.grey-text {
    color: #919699;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none !important;
    color          : #00B2F5 !important; // FUCK CHINA
    background     : transparent !important;
}

.profiler-results {
    display: none;
}

.full-width {
    width: 100vw !important;
}

.full-height {
    height: 100vh !important;
}

.whole-width,
.row,
.form-floating,
.main-content {
    width: 100% !important;
}

.whole-height {
    height: 100% !important;
}

[class*="whole-"],
[class*="full-"],
.row {
    margin-left : 0px !important;
    margin-right: 0px !important;
    padding     : 0px !important;
}

.auto-height {
    height: auto !important;
}

.auto-width {
    width: auto !important;
}

.point_me,
.pointer,
.pointed {
    cursor: pointer;
}

.account_bar {
    display         : table !important;
    position        : fixed;
    height          : 6vh;
    top             : 0px;
    left            : 0px;
    background-color: white;
}

.main-nav {
    width     : 350px;
    overflow-y: auto;
    position  : fixed;
    top       : 0;
    transform : translate(-550px, 0px);
    z-index   : 30;

    .nav-header,
    .nav-footer {
        height: 6vh !important;
    }

    .nav-body {
        height    : 88vh;
        overflow-y: auto;
    }
}

.big-nav-hider {
    display   : none;
    background: rgba(3, 3, 3, 0.3);
    position  : fixed;
    top       : 0;
    left      : 0;
    z-index   : 30;
}

.main-content {
    display       : table;
    margin        : 7vh auto;
    padding-top   : 2vh;
    padding-bottom: 2vh;
}

.shopify_button,
.shopify-button {
    border          : 2px solid #008060;
    background-color: #008060 !important;
    color           : #ffffff !important;
    border-radius   : 5px;
    min-width       : 250px;

    &:hover {
        background-color: #002E25 !important;
        color           : #ffffff !important;
    }
}