<div class="nav-hider big-nav-hider full-width full-height"></div>
<div class="main-nav border-end bg-white full-height">
  <div class="nav-header">
    <div class="d-flex align-items-center justify-content-between border-bottom whole-height">
      <span class="nav-hider material-icons">close</span>
      <img src="https://images.squarespace-cdn.com/content/v1/575a6067b654f9b902f452f4/1552683653140-0UUVQSSUEWVC73AWAEQG/300Logo.png" class="whole-height">
    </div>
  </div>
  <div class="nav-body"></div>
  <div class="nav-footer border-top"></div>
</div>
